@font-face{
  font-family:"Orc Horde BB";
  src:url("../fonts/OrcHordeBB_Reg.ttf") format("truetype");
}

*{margin:0;padding:0;}
body{font-family: "Orc Horde BB", Fallback, sans-serif;}

.gameBoard{
  height:100vh;
  background:#00aaff;
}

.output-container{
  position:absolute;
  bottom:0;
  width:100%;
}

.output{
  padding:20px;
  height:200px;
  background:#00ff00;
  overflow-y: scroll;
}
